.contact-preview-card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: #f1f1f1;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 5px;
    transition: .3s;
    
    &:hover {
        background-color: darken($color: #f1f1f1, $amount: 10%);
    }
    
    &:hover &-avatar {
        background-color: darken($color: lightgrey, $amount: 5%);
    }
    
    &-avatar {
        background-color: lightgrey;
        display: inline-block;
        padding: 9px;
        border-radius: 50%;
        margin-right: 15px;
        transition: .3s;

        & img {
            width: 35px;
            margin: auto;
        }
    }

    &-name {
        font-size: 1.3rem;
    }
}
