.contacts {
    display: flex;
    flex-flow: wrap column;
    align-items: center;

    &-controls {
        width: 100%;

        @media (max-width: 500px) {
            display: flex;
            flex-flow: column;
        }

        &-add-btn {
            border-radius: 5px;
            font-size: 1rem;
            position: relative;
            bottom: 38px;

            @media (max-width: 575px) {
                margin: 0 15px 10px 15px;
                bottom: 0px;
            }
        }
    }

    &-list {
        width: 100%;
    }
}
