<div class="chart section-warp">
    <div class="chart-title">{{chartData.description}} | Last {{chartData.dateRange}} Months</div>
    <google-chart [title]="chartData.title" [type]="chart.type" style="width: 100%;" [data]="chartData.data"
        [options]="chart.options">
    </google-chart>
    <section class="chart-btns">
        <p>Months: </p>
        <button class="main-btn" (click)="rangeChange(1, chartData.name)">1</button>
        <button class="main-btn" (click)="rangeChange(2, chartData.name)">2</button>
        <button class="main-btn" (click)="rangeChange(3, chartData.name)">3</button>
        <button class="main-btn" (click)="rangeChange(4, chartData.name)">4</button>
        <button class="main-btn" (click)="rangeChange(5, chartData.name)">5</button>
        <button class="main-btn" (click)="rangeChange(6, chartData.name)">6</button>
    </section>
</div>