<div class="contact-edit container">
    <div class="contact-edit-btns">
        <button class="main-btn" (click)="backToContactPage()">Back</button>
        <button class="main-btn" *ngIf="contact" (click)="deleteContact()">Delete</button>
    </div>
    <form class="contact-edit-form section-warp" (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="contact-edit-form-name">
            <span>Name:</span>
            <input type="text" ngModel name="name" placeholder="Enter Name" required />
        </div>
        <div class="contact-edit-form-phone">
            <span>Phone:</span>
            <input type="text" ngModel name="phone" placeholder="Enter Phone Number" required />
        </div>
        <div class="contact-edit-form-email">
            <span>Email:</span>
            <input type="email" ngModel name="email" placeholder="Enter Email" required />
        </div>
        <button class="main-btn" [disabled]="!form.valid" type="submit">Save</button>
    </form>
</div>