<main class="home-main container">
    <div *ngIf="user" class="home-main-loggedin">
        <h2>Welcome {{user.name}}</h2>

        <section class="home-main-loggedin-moneys section-warp">
            <section class="home-main-loggedin-moneys-balance">
                <p>CURRENT BALANCE</p>
                <section class="home-main-loggedin-moneys-balance-bar sub-section-wrap">
                    <img src="../../../assets/imgs/bitcoin (1).svg">
                    <p>BIT: {{user.coins}}</p>
                </section>
                <section class="home-main-loggedin-moneys-balance-bar sub-section-wrap">
                    <img src="../../../assets/imgs/coin.svg">
                    <p>USD: {{usersCoinsValue()}}$</p>
                </section>
            </section>
            <section class="home-main-loggedin-moneys-rate">
                <p>CURRENT RATE</p>
                <section class="home-main-loggedin-moneys-rate-bar sub-section-wrap">
                    <img src="../../../assets/imgs/exchange.svg">
                    <p>USD to BTC: {{bitcoinRate}}</p>
                </section>
                <section class="home-main-loggedin-moneys-rate-bar sub-section-wrap">
                    <img src="../../../assets/imgs/exchange.svg">
                    <p>BTC to USC: {{bitcoinToUSDRate()}}$</p>
                </section>
            </section>
        </section>

        <moves-list class="home-main-loggedin-moves section-warp" [moves]="moves" [title]="title"></moves-list>
        <button class="home-main-loggedin-logout-btn main-btn" (click)="doLogout()">Logout</button>
    </div>

    <!-- <div *ngIf="!user" class="home-main-not-loggedin section-warp">
        <p>Enter name to signup/in</p>
        <button (click)="goToSignUpPage()">click here</button>
    </div> -->
</main>