<section class="container contact-details">

    <button class="contact-details-back-btn main-btn" (click)="backToContactPage()">Back</button>
    <button class="contact-details-edit-btn main-btn" (click)="openEditPage()">Edit</button>

    <section class="section-warp contact-details-info">
        <section class="contact-details-info-avatar">
            <img [src]="imgUrl" />
        </section>
        <section class="contact-details-info-content">
            <p class="contact-details-info-content-name">{{contact.name}}</p>
            <p>Email: {{contact.email}}</p>
            <p>Phone: {{contact.phone}}</p>
        </section>
    </section>
    
    
    <transfer-fund [contactName]="contact.name" [maxCoins]="maxCoins" (emitAmount)="doTransfer($event)"></transfer-fund>
    <section class="contact-details-moves section-warp">
        <moves-list [moves]="moves" [title]="title"></moves-list>
    </section>
</section>