.contact-list {
    margin-bottom: 75px;
    
    & ul {
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;

        & li {
            width: 49%;
            
            @media (max-width: 600px) {
                width: 100%;
            }
        }
    }
}
